get:
  operationId: "getDeploymentStrategies"
  tags:
    - Infrastructure
  parameters: []
  summary: Fetch Deployment Strategies
  description: This endpoint returns available container deployment strategies.
  responses:
    200:
      description: Deployment strategies.
      content:
        application/json:
          schema:
            title: "DeploymentStrategiesReturn"
            type: object
            properties:
              data:
                $ref: ../../../components/schemas/infrastructure/DeploymentStrat.yml
    400:
      $ref: ../../../components/responses/errors/400.yml
    401:
      $ref: ../../../components/responses/errors/401.yml
    403:
      $ref: ../../../components/responses/errors/403.yml
    404:
      $ref: ../../../components/responses/errors/404.yml
    409:
      $ref: ../../../components/responses/errors/409.yml
    415:
      $ref: ../../../components/responses/errors/415.yml
    422:
      $ref: ../../../components/responses/errors/422.yml
    500:
      $ref: ../../../components/responses/errors/500.yml
    503:
      $ref: ../../../components/responses/errors/503.yml
