title: ScaleThresholdMetric
type: object
description: Discriminated union describing the different types of scaling threshold and their respective details
discriminator:
  propertyName: type
  mapping:
    ram: ./ScaleThresholdMetricRam.yml
    cpu: ./ScaleThresholdMetricCpu.yml
    custom: ./ScaleThresholdMetricCustom.yml
    network-connections: ./ScaleThresholdMetricNetworkConnections.yml
    network-requests: ./ScaleThresholdMetricNetworkRequests.yml
    network-throughput: ./ScaleThresholdMetricNetworkThroughput.yml
oneOf:
  - $ref: ./ScaleThresholdMetricRam.yml
  - $ref: ./ScaleThresholdMetricCpu.yml
  - $ref: ./ScaleThresholdMetricNetworkConnections.yml
  - $ref: ./ScaleThresholdMetricNetworkRequests.yml
  - $ref: ./ScaleThresholdMetricNetworkThroughput.yml
  - $ref: ./ScaleThresholdMetricCustom.yml
