title: ScaleThresholdMetricNetworkConnections
type: object
description: Describes the network connections threshold at which scaling will occur
required:
  - type
  - details
properties:
  type:
    type: string
    enum:
      - network-connections
  details:
    type: object
    required:
      - connections
    properties:
      connections:
        type: integer
