get:
  operationId: "getBillingServices"
  summary: List Billing Services
  description: Requries the `billing-services-view` capability.
  tags:
    - Services
  parameters:
    - $ref: ../../../../components/parameters/SortParam.yml
    - $ref: ../../../../components/parameters/FilterParam.yml
    - $ref: ../../../../components/parameters/PageParam.yml
  responses:
    200:
      description: Returns a list of Billing Services.
      content:
        application/json:
          schema:
            type: object
            required:
              - data
            properties:
              data:
                type: array
                items:
                  $ref: ../../../../components/schemas/billing/Service.yml
    default:
      $ref: ../../../../components/responses/errors/DefaultError.yml
