title: LoadBalancerConfig
type: object
description: The config object for the loadbalancer service.
nullable: true
discriminator:
  propertyName: type
  mapping:
    haproxy: ../../../stacks/spec/services/loadbalancer/types/haproxy/HaProxyLbType.yml
    v1: ../../../stacks/spec/services/loadbalancer/types/v1/V1LbType.yml
    default: ../../../stacks/spec/services/loadbalancer/types/DefaultLbType.yml
oneOf:
  - $ref: ../../../stacks/spec/services/loadbalancer/types/v1/V1LbType.yml
  - $ref: ../../../stacks/spec/services/loadbalancer/types/haproxy/HaProxyLbType.yml
  - $ref: ../../../stacks/spec/services/loadbalancer/types/DefaultLbType.yml
