title: StackSpecContainerConfigIntegrations
type: object
description: Configuration options for additional integrations/features that Cycle provides.
properties:
  webhooks:
    description: Enable additional webhooks that Cycle will call out to during the course of a container's lifetime. All webhooks send a payload as an object containing the instance, container, server, and environment IDs.
    type:
      - object
      - "null"
    properties:
      events:
        description: Webhooks that are triggered during a container event.
        type:
          - object
          - "null"
        properties:
          deploy:
            description: Cycle will call this endpoint when the container is deployed.
            type:
              - string
              - "null"
          start:
            description: Cycle will call this endpoint when the container is started.
            type:
              - string
              - "null"
          stop:
            description: Cycle will call this endpoint when the container is stopped.
            type:
              - string
              - "null"
      config:
        description: The webhook to hit when the container's configuration is changed.
        type:
          - string
          - "null"
  lets_encrypt:
    description: When enabled, this integration will configure Let's Encrypt certificates that will be injected into the container at runtime. The certificates will be managed by the platform and renewed automatically.
    type:
      - object
      - "null"
    required:
      - enable
    properties:
      enable:
        type: boolean
      certificate_path:
        type:
          - string
          - "null"
      chain_path:
        type:
          - string
          - "null"
      key_path:
        type:
          - string
          - "null"
      bundle_path:
        type:
          - string
          - "null"
      additional_certs_path:
        type:
          - string
          - "null"
  files:
    description: When enabled, Cycle will fetch and inject remote files into the container at the specified destination during runtime.
    type:
      - array
      - "null"
    items:
      type: object
      required:
        - source
        - destination
      properties:
        source:
          type: string
        destination:
          type: string
  backups:
    description: When enabled, Cycle will automatically manage backups of this container. This is only available for stateful containers.
    type:
      - object
      - "null"
    required:
      - destination
      - backup
      - restore
      - retention
    properties:
      integration_id:
        $ref: ../../components/schemas/HybridIdentifier.yml
        description: An identifier of an integration that supports backups. All backups will be sent to this destination.
      backup:
        type: object
        description: Configuration options for how the container should be backed up.
        required:
          - command
          - timeout
          - cron_string
        properties:
          command:
            description: The command to run to capture a backup. The output sent to `STDOUT` will be captured and sent to the specified integration.
            type: string
          timeout:
            description: How long the backup will attempt to run before timing out.
            anyOf:
              - $ref: ../../components/schemas/Duration.yml
              - type: "null"
          cron_string:
            description: A cron string describing how often to run the backup command.
            type:
              - string
              - "null"
      restore:
        description: Configuration options for how the backup should be restored.
        type:
          - object
          - "null"
        required:
          - command
          - timeout
        properties:
          command:
            type: string
          timeout:
            description: The time in seconds for the restore to attempt to complete before timing out.
            anyOf:
              - $ref: ../../components/schemas/Duration.yml
              - type: "null"
      retention:
        description: How long the platform will keep backups. Default is 1 year.
        anyOf:
          - $ref: ../../components/schemas/Duration.yml
          - type: "null"
        default: "365d"
  shared_file_systems:
    description: When enabled, Cycle will mount a shared host directory into this container. The directory will be shared with all other containers that mount it.
    type:
      - object
      - "null"
    additionalProperties:
      type: object
      required:
        - writable
        - mount_point
      properties:
        writable:
          type: boolean
        mount_point:
          type: string
  logs:
    description: When enabled, allows more customization to be applied to logging for the container.
    type:
      - object
      - "null"
    properties:
      groups:
        description: A tag used for applying log filters and analytics.
        type:
          - array
          - "null"
        items:
          $ref: ../../components/schemas/Identifier.yml
