---
get:
  operationId: "getEnvironment"
  summary: Get Environment
  description: Requires the `environments-view` capability.
  tags:
    - Environments
  parameters:
    - name: environmentId
      description: The ID of the requested environment.
      in: path
      required: true
      schema:
        type: string
    - name: meta
      in: query
      required: false
      description:
        A comma separated list of meta values. Meta values will show up under a resource's
        `meta` field. In the case of applying a meta to a collection of resources, each
        resource will have it's own relevant meta data. In some rare cases, meta may not
        apply to individual resources, and may appear in the root document. These will be
        clearly labeled.
      schema:
        type: array
        items:
          type: string
          enum:
            - containers
            - containers_count
            - instances_count
    - name: include
      in: query
      required: false
      description:
        A comma separated list of include values. Included resources will show
        up under the root document's `include` field, with the key being the id of the included
        resource. In the case of applying an include to a collection of resources, if two
        resources share the same include, it will only appear once in the return.
      schema:
        type: array
        items:
          type: string
          enum:
            - creators
            - stacks
  responses:
    200:
      description: Returns an Environment.
      content:
        application/json:
          schema:
            type: object
            required:
              - data
            properties:
              data:
                $ref: ../../../components/schemas/environments/Environment.yml
              includes:
                type: object
                properties:
                  creators:
                    $ref: ../../../components/schemas/includes/CreatorInclude.yml
    default:
      $ref: ../../../components/responses/errors/DefaultError.yml

patch:
  operationId: "updateEnvironment"
  summary: Update Environment
  description: |
    Updates the specificed Environment.

    Requires the `environments-manage` capability.
  tags:
    - Environments
  parameters:
    - name: environmentId
      description: The ID of the requested Environment.
      in: path
      required: true
      schema:
        type: string
  requestBody:
    description: Parameters for updating an Environment.
    content:
      application/json:
        schema:
          type: object
          properties:
            name:
              type:
                - string
                - "null"
            identifier:
              type:
                - string
                - "null"
            version:
              type:
                - string
                - "null"
            acl:
              anyOf:
                - $ref: ../../../components/schemas/common/ACL.yml 
                - type: "null"
            about:
              anyOf:
                - $ref: ../../../components/schemas/environments/EnvironmentAbout.yml
                - type: "null"
  responses:
    200:
      description: Returns an Environment.
      content:
        application/json:
          schema:
            type: object
            required:
              - data
            properties:
              data:
                $ref: ../../../components/schemas/environments/Environment.yml
    default:
      $ref: ../../../components/responses/errors/DefaultError.yml

delete:
  operationId: "deleteEnvironment"
  tags:
    - Environments
  parameters:
    - name: environmentId
      description: The ID of the requested Environment.
      in: path
      required: true
      schema:
        type: string
  summary: Delete Environment
  description: Requires the `environments-manage` capability.
  responses:
    202:
      description: Returns a Job Descriptor.
      content:
        application/json:
          schema:
            type: object
            required:
              - data
            properties:
              data:
                $ref: ../../../components/schemas/jobs/JobDescriptor.yml
    default:
      $ref: ../../../components/responses/errors/DefaultError.yml
