title: LoadBalancerEnvironmentService
type: object
description: Information about the environments loadbalancer service(s).
required:
  - enable
  - container_id
  - high_availability
  - config
properties:
  enable:
    type: boolean
    description: Whether or not the loadbalancer service is enabled.
  container_id:
    type:
      - string
      - "null"
    description: The ID of the loadbalancer service container
  high_availability:
    type: boolean
    description:
      A boolean representing if this service container is set to high availability
      mode or not.
  auto_update:
    type: boolean
    description: A boolean representing if this service container is set to autoupdate or not
  config:
    $ref: ./lb/LoadBalancerConfig.yml
