title: StackSpecWafConfig
type: object
description: Additional configuration options for the web application firewall.
required:
  - rules
properties:
  rules:
    type: array
    items:
      type: object
      required:
        - description
        - skip
        - type
        - conditions
      properties:
        description:
          type: string
        skip:
          type: boolean
        type:
          type: string
          enum:
            - allow
            - deny
        conditions:
          type: array
          items:
            type: object
            required:
              - type
              - operator
              - value
            properties:
              type:
                type: string
                enum:
                  - ip-match
                  - geo-match
                  - url-match
                  - method-match
                  - header-match
              operator:
                type: string
                enum:
                  - "=="
                  - "!="
                  - ">"
                  - "<"
                  - ">="
                  - "<="
              value:
                type: string
