type: object
required:
  - name
  - cluster
  - about
  - features
  - stack
properties:
  name:
    type: string
    description: A user defined name for the environment resource.
  cluster:
    type: string
    description: The cluster this environment is associated with.
  about:
    type: object
    description: Contains details regarding the environment.
    required:
      - description
    properties:
      description:
        type: string
        description: A custom description for this environment.
  features:
    "$ref": "../Features.yml"
  stack:
    type: object
    nullable: true
    description: An object representing the associated stack.
    required:
      - id
      - build_id
    properties:
      id:
        "$ref": "../../ID.yml"
      build_id:
        "$ref": "../../ID.yml"
