title: EnvironmentFeatures
type: object
description: An object representing specialized features configured for this environment.
required:
  - legacy_networking
properties:
  legacy_networking:
    description: Whether or not legacy networking mode is enabled on this environment.
    type: boolean
  monitoring:
    description: The level of monitoring to enable for this environment. There is a cost associated with higher levels of monitoring.
    type:
      - object
      - "null"
    required:
      - tier
    properties:
      tier:
        $ref: ../infrastructure/clusters/monitoring/MonitoringTier.yml
