title: EnvironmentMeta
type: object
description: A list of meta fields that can be applied to this environment.
properties:
  containers_count:
    $ref: "../StateCountSummary.yml"
  instances_count:
    $ref: "../StateCountSummary.yml"
  containers:
    type: array
    items:
      type: object
      required:
        - id
        - name
        - state
        - image
        - environment
      properties:
        id:
          $ref: "../ID.yml"
        name:
          type: string
          description: A user defined name for the container resource.
        state:
          $ref: "../containers/ContainerState.yml"
        image:
          $ref: "../containers/summaries/ContainerImageSummary.yml"
        environment:
          $ref: "../containers/summaries/ContainerEnvironmentSummary.yml"
  service_versions:
    type: object
    additionalProperties:
      type: object
      required: [version, last_updated]
      properties:
        version:
          type: string
        last_updated:
          $ref: ../DateTime.yml
