title: EnvironmentMeta
type: object
description: A list of meta fields that can be applied to this environment.
properties:
  containers_count:
    $ref: "../StateCountSummary.yml"
  instances_count:
    $ref: "../StateCountSummary.yml"
  containers:
    type: array
    items:
      type: object
      required:
        - id
        - name
        - state
        - image
        - environment
      properties:
        id:
          $ref: "../ID.yml"
        name:
          type: string
          description: A user defined name for the container resource.
        state:
          $ref: "../containers/ContainerState.yml"
        image:
          $ref: "../containers/summaries/ContainerImageSummary.yml"
        environment:
          $ref: "../containers/summaries/ContainerEnvironmentSummary.yml"
  service_versions:
    description: A map where the key is the service and the value describes the version and date of last update.
    type: object
    additionalProperties:
      type: array
      items:
        type: object
        required:
          - version
          - last_updated
        properties:
          version:
            description: A string depicting the service version.
            example: v2025.01.01.01
            type: string
          instance_id:
            description: The ID of the instance of the service.
            $ref: ../ID.yml
          last_updated:
            description: The time the version was last updated.
            $ref: ../DateTime.yml
