title: ContainerReconfigureVolumesAction
type: object
required:
  - action
  - contents
properties:
  action:
    type: string
    enum:
      - volumes.reconfigure
    description: The action to take.
  contents:
    description: An array of volume objects to be reconfigured.
    type: array
    items:
      "$ref": "../summaries/VolumeSummary.yml"
