title: StackSpecDiscoveryConfig
type: object
properties:
  empty_set_delay:
    anyOf:
      - $ref: ../../../../components/schemas/Duration.yml
      - $ref: ../../StackVariable.yml
      - type: "null"
  hosts:
    description: A custom mapping of hosts - for forced resolution of specific IPs for a domain.
    oneOf:
      - type:
          - object
          - "null"
        additionalProperties:
          type: object
          properties:
            ipv4:
              oneOf:
                - type:
                    - array
                    - "null"
                  items:
                    type: string
                - $ref: ../../StackVariable.yml
            ipv6:
              oneOf:
                - type:
                    - array
                    - "null"
                  items:
                    type: string
                - $ref: ../../StackVariable.yml
      - $ref: ../../StackVariable.yml
  custom_resolvers:
    description: "A list of custom resolver strings.  Can specifify domains or ips."
    anyOf:
      - type: array
        items:
          type: string
      - $ref: ../../StackVariable.yml
      - type: "null"
