title: StackContainerConfigResources
type: object
required:
  - cpu
  - ram
properties:
  cpu:
    type: object
    properties:
      shares:
        type: object
        required:
          - limit
          - reserve
        properties:
          limit:
            type: integer
          reserve:
            type: integer
      cpus:
        type: string
  ram:
    type: object
    properties:
      limit:
        type: string
      reserve:
        type: string
      swappiness:
        type: number
