title: StackContainerConfigIntegrations
type: object
properties:
  webhooks:
    type: object
    nullable: true
    properties:
      events:
        type: object
        nullable: true
        properties:
          deploy:
            nullable: true
            type: string
          start:
            nullable: true
            type: string
          stop:
            nullable: true
            type: string
      config:
        nullable: true
        type: string
  lets_encrypt:
    type: object
    nullable: true
    required:
      - enable
    properties:
      enable:
        type: boolean
      certificate_path:
        nullable: true
        type: string
      chain_path:
        nullable: true
        type: string
      key_path:
        nullable: true
        type: string
      bundle_path:
        nullable: true
        type: string
      additional_certs_path:
        nullable: true
        type: string
  files:
    type: array
    nullable: true
    items:
      type: object
      required:
        - source
        - destination
      properties:
        source:
          type: string
        destination:
          type: string
  backups:
    type: object
    nullable: true
    required:
      - destination
      - backup
      - restore
      - retention
    properties:
      destination:
        type: string
      backup:
        type: object
        required:
          - command
          - timeout
          - cron_string
        properties:
          command:
            type: string
          timeout:
            type: string
            nullable: true
            description: How long the backup will attempt to run before timing out.
            allOf:
              - $ref: ../../Duration.yml
          cron_string:
            nullable: true
            type: string
      restore:
        nullable: true
        type: object
        required:
          - command
          - timeout
        properties:
          command:
            type: string
          timeout:
            type: string
            nullable: true
            description: The time in seconds for the restore to attempt to complete before timing out.
            allOf:
              - $ref: ../../Duration.yml
      retention:
        type: string
        nullable: true
        description: How long the platform will keep backups. Default is 1 year.
        allOf:
          - $ref: ../../Duration.yml
        default: "365d"
  shared_directories:
    nullable: true
    type: object
    additionalProperties:
      type: object
      required:
        - writable
        - mount_point
      properties:
        writable:
          type: boolean
        mount_point:
          type: string
