title: StackContainerConfigRuntime
type: object
required:
  - privileged
properties:
  workdir:
    type: string
  command:
    type: object
    properties:
      path:
        type: string
      args:
        type: string
  environment_vars:
    type: object
    additionalProperties:
      type: string
  namespaces:
    type: array
    items:
      type: string
      enum:
        - ipc
        - pid
        - uts
        - network
        - mount
        - user
        - cgroup
  sysctl:
    type: object
    additionalProperties:
      type: string
  rlimits:
    type: object
    additionalProperties:
      type: object
      required:
        - hard
        - soft
      properties:
        hard:
          type: integer
        soft:
          type: integer
  seccomp:
    type: object
    required:
      - disable
      - rules
    properties:
      disable:
        type: boolean
      rules:
        type: array
        items:
          type: object
          required:
            - capabilities
            - syscall
          properties:
            capabilities:
              type: object
              required:
                - includes
                - excludes
              properties:
                includes:
                  type: string
                excludes:
                  type: string
            syscall:
              type: object
              required:
                - names
                - action
              properties:
                names:
                  type: array
                  items:
                    type: string
                action:
                  type: string
                  enum:
                    - SCMP_ACT_KILL
                    - SCMP_ACT_KILL_PROCESS
                    - SCMP_ACT_KILL_THREAD
                    - SCMP_ACT_TRAP
                    - SCMP_ACT_ERRNO
                    - SCMP_ACT_TRACE
                    - SCMP_ACT_ALLOW
                    - SCMP_ACT_LOG
                    - SCMP_ACT_NOTIFY
                errnoRet:
                  type: integer
                args:
                  type: array
                  items:
                    type: object
                    required:
                      - index
                      - value
                      - op
                    properties:
                      index:
                        type: integer
                      value:
                        type: integer
                      valuetwo:
                        type: integer
                      op:
                        type: string
                        enum:
                          - SCMP_CMP_NE
                          - SCMP_CMP_LT
                          - SCMP_CMP_LE
                          - SCMP_CMP_EQ
                          - SCMP_CMP_GE
                          - SCMP_CMP_GT
                          - SCMP_CMP_MASKED_EQ
  host:
    nullable: true
    type: object
    properties:
      shared_prod:
        nullable: true
        type: boolean
      shared_directories:
        nullable: true
        type: object
        required:
          - identifier
          - writable
          - mount_point
        properties:
          identifier:
            type: string
          writable:
            type: boolean
          mount_point:
            type: string
  privileged:
    type: boolean
  capabilities:
    type: array
    items:
      type: string
      enum:
        - CAP_CHOWN
        - CAP_FSETID
        - CAP_DAC_OVERRIDE
        - CAP_FOWNER
        - CAP_SETFCAP
        - CAP_SETGID
        - CAP_SETUID
        - CAP_KILL
        - CAP_MKNOD
        - CAP_NET_BIND_SERVICE
        - CAP_NET_RAW
        - CAP_AUDIT_WRITE
        - CAP_SYS_CHROOT
        - CAP_SETPCAP
        - CAP_DAC_READ_SEARCH
        - CAP_NET_ADMIN
        - CAP_NET_BROADCAST
        - CAP_SYS_ADMIN
        - CAP_SYS_MODULE
        - CAP_SYS_NICE
        - CAP_SYS_PACCT
        - CAP_SYS_PTRACE
        - CAP_SYS_RAWIO
        - CAP_SYS_RESOURCE
        - CAP_SYS_BOOT
        - CAP_SYS_TIME
        - CAP_SYS_TTY_CONFIG
        - CAP_SYSLOG
        - CAP_AUDIT_CONTROL
        - CAP_AUDIT_READ
        - CAP_IPC_LOCK
        - CAP_IPC_OWNER
        - CAP_LINUX_IMMUTABLE
        - CAP_MAC_ADMIN
        - CAP_MAC_OVERRIDE
        - CAP_BLOCK_SUSPEND
        - CAP_LEASE
        - CAP_WAKE_ALARM
  rootfs:
    type: object
    required:
      - readonly
    properties:
      readonly:
        type: boolean
