title: StackContainerConfigRuntime
x-ogen-name: StackSpecContainerConfigRuntime
description: Configuration options related to how the container behaves while it is running (environment variables, command overrides, kernel capabilities, etc. )
type: object
properties:
  workdir:
    type: string
    description: The working directory to execute the command in.
  command:
    type: object
    description: The command to execute when this container starts. Will override the default specified in the container.
    properties:
      path:
        type: string
      args:
        type: string
  environment_vars:
    type: object
    description: A map of environment variables that will be injected into the container.
    additionalProperties:
      type: string
  namespaces:
    type: array
    description: Container namespaces to apply. By default, all are applied. Removing/changing this can have security implications.
    items:
      type: string
      enum:
        - ipc
        - pid
        - uts
        - network
        - mount
        - user
        - cgroup
  sysctl:
    type: object
    description: Sysctl options to apply.
    additionalProperties:
      type: string
  rlimits:
    type: object
    description: RLIMIT options to apply.
    additionalProperties:
      type: object
      required:
        - hard
        - soft
      properties:
        hard:
          type: integer
        soft:
          type: integer
  seccomp:
    type: object
    description: Configuration options for seccomp. Cycle enables seccomp by default.
    required:
      - disable
      - rules
    properties:
      disable:
        type: boolean
      rules:
        type: array
        items:
          type: object
          required:
            - capabilities
            - syscall
          properties:
            capabilities:
              type: object
              required:
                - includes
                - excludes
              properties:
                includes:
                  type: string
                excludes:
                  type: string
            syscall:
              type: object
              required:
                - names
                - action
              properties:
                names:
                  type: array
                  items:
                    type: string
                action:
                  type: string
                  enum:
                    - SCMP_ACT_KILL
                    - SCMP_ACT_KILL_PROCESS
                    - SCMP_ACT_KILL_THREAD
                    - SCMP_ACT_TRAP
                    - SCMP_ACT_ERRNO
                    - SCMP_ACT_TRACE
                    - SCMP_ACT_ALLOW
                    - SCMP_ACT_LOG
                    - SCMP_ACT_NOTIFY
                errnoRet:
                  type: integer
                args:
                  type: array
                  items:
                    type: object
                    required:
                      - index
                      - value
                      - op
                    properties:
                      index:
                        type: integer
                      value:
                        type: integer
                      valuetwo:
                        type: integer
                      op:
                        type: string
                        enum:
                          - SCMP_CMP_NE
                          - SCMP_CMP_LT
                          - SCMP_CMP_LE
                          - SCMP_CMP_EQ
                          - SCMP_CMP_GE
                          - SCMP_CMP_GT
                          - SCMP_CMP_MASKED_EQ
  host:
    description: "Configuration options regarding the underlying host."
    type:
      - object
      - "null"
    properties:
      expose_proc:
        description: If true, Cycle will mount the `/proc` directory into the container, giving it access to the host metrics. This is useful if you're running i.e. a monitoring agent.
        type:
          - boolean
          - "null"
  privileged:
    description: If true, the container process will run in fully-privileged mode. **WARNING** This is considered insecure, and should only be done if you know what you're doing.
    type: boolean
  capabilities:
    type: array
    description: Additional Linux kernel capabilities to apply to this container process.
    items:
      type: string
      enum:
        - CAP_CHOWN
        - CAP_FSETID
        - CAP_DAC_OVERRIDE
        - CAP_FOWNER
        - CAP_SETFCAP
        - CAP_SETGID
        - CAP_SETUID
        - CAP_KILL
        - CAP_MKNOD
        - CAP_NET_BIND_SERVICE
        - CAP_NET_RAW
        - CAP_AUDIT_WRITE
        - CAP_SYS_CHROOT
        - CAP_SETPCAP
        - CAP_DAC_READ_SEARCH
        - CAP_NET_ADMIN
        - CAP_NET_BROADCAST
        - CAP_SYS_ADMIN
        - CAP_SYS_MODULE
        - CAP_SYS_NICE
        - CAP_SYS_PACCT
        - CAP_SYS_PTRACE
        - CAP_SYS_RAWIO
        - CAP_SYS_RESOURCE
        - CAP_SYS_BOOT
        - CAP_SYS_TIME
        - CAP_SYS_TTY_CONFIG
        - CAP_SYSLOG
        - CAP_AUDIT_CONTROL
        - CAP_AUDIT_READ
        - CAP_IPC_LOCK
        - CAP_IPC_OWNER
        - CAP_LINUX_IMMUTABLE
        - CAP_MAC_ADMIN
        - CAP_MAC_OVERRIDE
        - CAP_BLOCK_SUSPEND
        - CAP_LEASE
        - CAP_WAKE_ALARM
  rootfs:
    type: object
    description: Configuration options for the root filesystem.
    required:
      - readonly
    properties:
      readonly:
        description: If true, the container's filesystem will be read-only.
        type: boolean
