title: ContainerResources
type: object
description: Configuration settings for the resource allocations and limits of a given container.
required:
  - cpu
  - ram
properties:
  cpu:
    type: object
    description: Configurations settings related to CPU usage.
    properties:
      shares:
        type: object
        description: A share represents 1/10th of the available compute time on a single thread.
        required:
          - limit
          - reserve
        properties:
          limit:
            type: integer
            description: The limit (maximum) amount of shares each instance of a container can use.
          reserve:
            type: integer
            description: The reserve (allocation) number of shares for each instance of a given container.
      cpus:
        type: string
  ram:
    type: object
    description: Configuration settings for limits and reserves of RAM resources for the given container.
    properties:
      limit:
        description: The limit (maximum) amount of RAM each instance of the given container can use.
        $ref: ../../ByteSize.yml
      reserve:
        type: string
        description: The reserve (allocation) of RAM given to each instance of the container.
