title: ContainerRuntime
type: object
description: Runtime configurations for a given container.
required:
  - privileged
properties:
  command:
    type:
      - object
      - "null"
    description: A command that will be run in place of the images defined startup command.
    properties:
      path:
        type:
          - string
          - "null"
        description: System path for the command.
      args:
        type:
          - string
          - "null"
        description: Arguments to pass to the command.
  namespaces:
    type: array
    items:
      type: string
      enum:
        - ipc
        - pid
        - uts
        - network
        - mount
        - user
        - cgroup
    description: Namespaces the given container will have access to.
  environment_vars:
    type: object
    description: A record of environment variables for the given container.
    additionalProperties:
      type: string
  privileged:
    type: boolean
    description: Selecting this option will give this container full permissions on the server. This is not recommended and increases the likelihood of your server being compromised.
  capabilities:
    type: array
    items:
      type: string
      enum:
        - CAP_CHOWN
        - CAP_FSETID
        - CAP_DAC_OVERRIDE
        - CAP_FOWNER
        - CAP_SETFCAP
        - CAP_SETGID
        - CAP_SETUID
        - CAP_KILL
        - CAP_MKNOD
        - CAP_NET_BIND_SERVICE
        - CAP_NET_RAW
        - CAP_AUDIT_WRITE
        - CAP_SYS_CHROOT
        - CAP_SETPCAP
        - CAP_DAC_READ_SEARCH
        - CAP_NET_ADMIN
        - CAP_NET_BROADCAST
        - CAP_SYS_ADMIN
        - CAP_SYS_MODULE
        - CAP_SYS_NICE
        - CAP_SYS_PACCT
        - CAP_SYS_PTRACE
        - CAP_SYS_RAWIO
        - CAP_SYS_RESOURCE
        - CAP_SYS_BOOT
        - CAP_SYS_TIME
        - CAP_SYS_TTY_CONFIG
        - CAP_SYSLOG
        - CAP_AUDIT_CONTROL
        - CAP_AUDIT_READ
        - CAP_IPC_LOCK
        - CAP_IPC_OWNER
        - CAP_LINUX_IMMUTABLE
        - CAP_MAC_ADMIN
        - CAP_MAC_OVERRIDE
        - CAP_BLOCK_SUSPEND
        - CAP_LEASE
        - CAP_WAKE_ALARM
    description: A list of linux kernel capabilites for the given container.
  workdir:
    type: string
    description: Configure the working directory for the given container.
  sysctl:
    type: object
    description: A record of sysctl fields and values for a given container.
    additionalProperties:
      type: string
  rlimits:
    type: object
    description: A record of rlimits and their values.
    additionalProperties:
      type: object
      properties:
        hard:
          type: integer
          description: The hard limit for the rlimit.
        soft:
          type: integer
          description: The soft limit for the rlimit.
  seccomp:
    type:
      - object
      - "null"
    properties:
      disable:
        type: boolean
      rules:
        type: array
        items:
          $ref: seccomp/SeccompRule.yml
  host:
    type:
      - object
      - "null"
    properties:
      expose_proc:
        type:
          - boolean
          - "null"
  rootfs:
    type: object
    properties:
      readonly:
        description: Enabling this option will set the containers filesystem to readonly. Volumes associated with the container will not be affected by this.
        type: boolean

  devices:
    type:
      - object
      - "null"
    properties:
      shm_size:
        type:
          - string
          - "null"
        description: The size of the shared host memory device (/dev/shm).
        example: "1G, 2M"
