title: ContainerVolume
type: object
description: Configuration settings for container volumes.
required:
  - read_only
  - destination
properties:
  read_only:
    type: boolean
    description: A boolean where true marks the volume as read only.
  local:
    type: object
    description: Configuration for settings local to the container filesystem.
    required:
      - max_size
    properties:
      max_size:
        type: string
        description: The maximum size this volume can grow to. Container volumes on Cycle are thinly provisioned, meaning this isn't an allocation - the volume will only use the space it needs up to this size.
        example: "10G"
      storage_pool:
        type: boolean
        description: A boolean where true signifies using the largest drive over 2TB for the target server.
  destination:
    type: string
    description: The mountpoint path for the container.
  remote_access:
    type: object
    description: Configuration settings for remotely accessing the container volume.
    required:
      - enable
      - password
    properties:
      enable:
        type: boolean
        description: A boolean where true represents this container volume being open to remote access connections over SFTP.
      ips:
        type: array
        items:
          type: string
      web_hook:
        type: string
        description: Call out to a webhook to authenticate usernames/passwords if an organization manages their own accounts
      password:
        type:
          - object
          - "null"
        description: Password configuration settings for the remote access of the container volume.
        required:
          - algorithm
          - data
        properties:
          algorithm:
            type: string
            description: The hashing algorithm used to has the password.
            enum:
              - raw
              - sha512
              - md5
          data:
            type: string
            description: The raw or hashed password.
