title: ContainerScale
type: object
description: Network configuration for a container.
required:
  - autoscale_group
  - instances
  - window
  - thresholds
properties:
  autoscale_group:
    type: string
    nullable: true
    description: The autoscaling group describes which servers should be deployed
  instances:
    type: object
    description: Describes how many instances should be running
    required:
      - delta
      - max
      - max_server
      - min_ttl
    properties:
      delta:
        type: integer
        description: Number of additional instances the auto-scaler will add/subtract per scaling event
      max:
        type: integer
        description: Maximum additional instances the auto-scaler will run at any time
      max_server:
        type: integer
        description: Minimum number of instances per server
      min_ttl:
        $ref: ../../Duration.yml
        description: Minimum amount of time an instance will live
  window:
    description: Duration in which the auto-scaler will watch for changes
    $ref: ../../Duration.yml
  thresholds:
    description: An array of rules that dictate when a scaling event will be triggered
    type: array
    items:
      $ref: ./scale/ScaleThresholdMetric.yml
