title: ContainerVolume
type: object
description: Configuration settings for container volumes.
required:
  - read_only
  - block_device
  - destination
properties:
  read_only:
    type: boolean
    description: A boolean where true marks the volume as read only.
  block_device:
    type: boolean
    description: |
      Indicates that the volume will be used as unformatted block storage.
  local:
    oneOf:
      - type: object
        description: Configuration for settings local to the container filesystem.
        required:
          - max_size
        properties:
          max_size:
            $ref: ../../DataSize.yml
            description: The maximum size this volume can grow to. Container volumes on Cycle are thinly provisioned, meaning this isn't an allocation - the volume will only use the space it needs up to this size.
          storage_pool:
            oneOf:
              - type: boolean
                description: A boolean where true signifies using the largest drive over 2TB for the target server.
              - type: "null"
      - type: "null"
  san:
    oneOf:
      - type: object
        description: Configuration settings for a SAN type volume.
        required:
          - target_id
          - lun_number
        properties:
          target_id:
            $ref: ../../ID.yml
            description: The ID of the SAN target.
          lun_number:
            type: integer
            description: The LUN for the SAN target to attach.
      - type: "null"
  destination:
    type: string
    description: The mountpoint path for the container.
  remote_access:
    type: object
    description: Configuration settings for remotely accessing the container volume.
    required:
      - enable
      - password
    properties:
      enable:
        type: boolean
        description: A boolean where true represents this container volume being open to remote access connections over SFTP.
      ips:
        type: array
        items:
          type: string
      webhook:
        type: string
        description: Call out to a webhook to authenticate usernames/passwords if an organization manages their own accounts
      password:
        type:
          - object
          - "null"
        description: Password configuration settings for the remote access of the container volume.
        required:
          - algorithm
          - data
        properties:
          algorithm:
            type: string
            description: The hashing algorithm used to has the password.
            enum:
              - raw
              - sha512
              - md5
          data:
            type: string
            description: The raw or hashed password.
