title: EnvironmentCreateStep
type: object
description: Settings for creating an environment in a pipeline.
required:
  - action
  - details
properties:
  action:
    type: string
    description: The action that the step takes.
    enum:
      - environment.create
  details:
    allOf:
      - $ref: "../ResourceLocation.yml"
      - type: object
        required:
          - name
          - cluster
          - features
        properties:
          name:
            type: string
          about:
            $ref: "../../environments/EnvironmentAbout.yml"
          cluster:
            type: string
          stack_build:
            $ref: "../ResourceLocation.yml"
          features:
            $ref: "../../environments/Features.yml"
