title: DiscoveryConfig
type: object
description: The config object for the discovery service.
properties:
  empty_set_delay:
    anyOf:
      - $ref: ../../../Duration.yml
      - type: "null"
  dual_stack_legacy:
    description: When enabled, Discovery will return both IPv6 and IPv4 when in Legacy mode.  Otherwise, only IPv4 will be retuned.
    anyOf:
      - type: boolean
      - type: "null"
  hosts:
    type:
      - object
      - "null"
    description: A mapping of hostnames to IP addresses for custom internal resolutions. Acts as a custom /etc/resolv.conf file that works environment wide.
    additionalProperties:
      type: object
      properties:
        ipv4:
          description: The IPv4 address the discovery server should return to any container instance requesting this hostname.
          type:
            - array
            - "null"
          items:
            type: string
        ipv6:
          description: The IPv6 address the discovery server should return to any container instance requesting this hostname.
          type:
            - array
            - "null"
          items:
            type: string
  custom_resolvers:
    description: "A list of custom DNS resolver strings.  Can specifify domains or ips."
    type: array
    items:
      type: string
