title: HttpRouterConfig
description: Additional configuration options for HTTP mode routers.
type: object
required:
  - type
  - details
properties:
  type:
    type: string
    enum:
      - http
  details:
    type: object
    required:
      - redirect
      - forward
      - proxy
      - caching
    properties:
      redirect:
        nullable: true
        type: object
        required:
          - auto_https_redirect
          - remove_www
          - port
          - scheme
          - url
        description: Defines a built-in redirect for HTTP mode routers
        properties:
          auto_https_redirect:
            type: boolean
            description: If enabled and a sibling controller exists for port 443, requests will be auto redirected to it. Essentially sets up automatic TLS redirection for this router.
          remove_www:
            description: If true, any request comes in with "www" prefix will be permanently redirected to the same path without www.
            type: boolean
          port:
            nullable: true
            type: integer
            description: The port to redirect traffic to.
          scheme:
            nullable: true
            type: string
            description: The scheme to redirect to. (i.e. `https`)
          url:
            nullable: true
            type: string
            description: A specific URL to redirect to.
      forward:
        nullable: true
        type: object
        required:
          - scheme
        properties:
          scheme:
            nullable: true
            type: string
      proxy:
        nullable: true
        type: object
        required:
          - domain
        properties:
          domain:
            nullable: true
            type: string
            description: The proxy domain for this router.
      caching:
        nullable: true
        type: object
        required:
          - files
        properties:
          files:
            nullable: true
            type: array
            items:
              type: object
              required:
                - match
                - ttl
              properties:
                match:
                  description: Regex string that describes the files to cache.
                  example: (.*)\\.(js|jpg|css|png|svg)$
                  type: string
                ttl:
                  description: Time string that describes the time to live.
                  $ref: ../../../../../../../Duration.yml
