title: TcpRouterConfig
description: Additional configuration options for TCP mode routers
type: object
required:
  - type
  - details
properties:
  type:
    type: string
    enum:
      - tcp
  details:
    type: object
    additionalProperties: {}
