get:
  operationId: "getEnvironment"
  tags:
    - Environments
  parameters: []
  summary: Fetch Environment
  description: Doesn't require specific capability.
  responses:
    "200":
      description: Returns an environment resource.
      content:
        application/json:
          schema:
            title: FetchENvironmentReturn
            type: object
            properties:
              data:
                "$ref": "../../../components/environments/Environment.yml"
    "400":
      description: This usually means the data sent was in an invalid format.
      content:
        application/json:
          schema:
            "$ref": "../../../components/error/ErrorResponse.yml"
    "401":
      description: OAuth token is invalid.
      content:
        application/json:
          schema:
            "$ref": "../../../components/error/ErrorResponse.yml"
    "404":
      description: The requested resource doesn't exist.
      content:
        application/json:
          schema:
            "$ref": "../../../components/error/ErrorResponse.yml"
    "500":
      description: Indicates an issue with Cycle. Rare.
      content:
        application/json:
          schema:
            "$ref": "../../../components/error/ErrorResponse.yml"
