title: EnvironmentSummary
type: object
description: Contains useful and relevant data/statistics for an environment that would otherwise be several separate API calls.
required:
  - id
  - state
  - services
  - stats
properties:
  id:
    $ref: "../../ID.yml"
  state:
    $ref: "../EnvironmentState.yml"
  services:
    title: EnvironmentServiceSummary
    type: object
    description: An object containing information about the service containers associated with this container. Each key is the name of a service, one of `discovery`, `vpn`, or `loadbalancer`.
    properties:
      loadbalancer:
        anyOf:
          - $ref: "./EnvironmentServiceContainerSummary.yml"
          - type: "null"
      discovery:
        anyOf:
          - $ref: "./EnvironmentServiceContainerSummary.yml"
          - type: "null"
      vpn:
        anyOf:
          - $ref: "./EnvironmentServiceContainerSummary.yml"
          - type: "null"
      scheduler:
        anyOf:
          - $ref: "./EnvironmentServiceContainerSummary.yml"
          - type: "null"
  stats:
    title: EnvironmentSummaryStats
    type: object
    description: Statistics about the containers and instances associated with this environment.
    required:
      - containers
      - instances
    properties:
      containers:
        $ref: "../../StateCountSummary.yml"
      instances:
        $ref: "../../StateCountSummary.yml"
