get:
  operationId: "getEnvironment"
  summary: Get Environment
  description: |
    Gets the Environment that this instance is a part of.
  tags:
    - Environments
  parameters: []
  responses:
    default:
      $ref: ../../../components/responses/errors/DefaultError.yml
    200:
      description: Returns an Environment.
      content:
        application/json:
          schema:
            type: object
            required:
              - data
            properties:
              data:
                "$ref": "../../../components/schemas/environments/Environment.yml"
