---
get:
  operationId: "getEnvironments"
  tags:
    - Environments
  parameters:
    - name: meta
      in: query
      required: false
      description:
        A comma separated list of meta values. Meta values will show up under a resource's
        `meta` field. In the case of applying a meta to a collection of resources, each
        resource will have it's own relevant meta data. In some rare cases, meta may not
        apply to individual resources, and may appear in the root document. These will be
        clearly labeled.
      schema:
        type: array
        items:
          type: string
          enum:
            - containers
            - containers_count
            - instances_count
    - name: include
      in: query
      required: false
      description:
        A comma separated list of include values. Included resources will show
        up under the root document's `include` field, with the key being the id of the included
        resource. In the case of applying an include to a collection of resources, if two
        resources share the same include, it will only appear once in the return.
      schema:
        type: array
        items:
          type: string
          enum:
            - creators
            - stacks
    - $ref: "../../parameters/SortParam.yml"
    - $ref: "../../parameters/FilterParam.yml"
    - $ref: "../../parameters/PageParam.yml"
  summary: List Environments
  description: Requires the `environments-view` capability.
  responses:
    "200":
      description: Returns a collection of environment resources.
      content:
        application/json:
          schema:
            title: "EnvironmentListResponse"
            type: object
            required:
              - data
            properties:
              data:
                type: array
                items:
                  "$ref": "../../../components/environments/Environment.yml"
              includes:
                type: object
                properties:
                  creators:
                    $ref: "../../../components/includes/CreatorInclude.yml"
    "400":
      description: This usually means the data sent was in an invalid format.
      content:
        application/json:
          schema:
            "$ref": "../../../components/error/ErrorResponse.yml"
    "401":
      description: OAuth token is invalid.
      content:
        application/json:
          schema:
            "$ref": "../../../components/error/ErrorResponse.yml"
    "404":
      description: The requested resource doesn't exist.
      content:
        application/json:
          schema:
            "$ref": "../../../components/error/ErrorResponse.yml"
    "500":
      description: Indicates an issue with Cycle. Rare.
      content:
        application/json:
          schema:
            "$ref": "../../../components/error/ErrorResponse.yml"
post:
  operationId: "createEnvironment"
  tags:
    - Environments
  parameters: []
  summary: Create Environment
  description: Requires the `environments-create` capability.
  requestBody:
    content:
      application/json:
        schema:
          "$ref": "../../../components/environments/requestBodies/CreateEnvironmentBody.yml"
  responses:
    "201":
      description: Returns an environment resource.
      content:
        application/json:
          schema:
            title: "EnvironmentResponse"
            type: object
            properties:
              data:
                "$ref": "../../../components/environments/Environment.yml"
    "400":
      $ref: "../../errors/400.yml"
    "401":
      $ref: "../../errors/401.yml"
    "404":
      $ref: "../../errors/404.yml"
    "500":
      $ref: "../../errors/500.yml"
